.header{
	width: 100%;
	display: flex !important;
	height: auto;
	display: block;
	background-color: white;
}
.header-logo-text-side{
	@include respond(phone){
		display: none;
	}
}
.header-logo-text-side > .primary-title{
	display: block;
	width: 75%;
	margin-left: -2rem;
	font-size: 2rem;
}
.header-acesso-rapido{
	float: right;
	left: 5%;
	position: relative;
	@include respond(tab-land){
		left: 10%;
	}
	@include respond(tab-port){
		display: none;
	}
}
.bt-header, .bt-header:active, .bt-header:visited,.bt-header:link{
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	color: white !important;
	transition: all .4s;
}
.bt-header > i {
	vertical-align: middle;
}
.icone-header:hover{
	cursor: pointer;
	transform: translateY(-50%) scale(1.1,1.1);
}
.icone-header > i{
	left: 50%;
	position: relative;
	top: 50%;
	font-size: 2rem;
	transform: translate(-50%,-50%);
}
.header-logo{
	display: block;
    width: 20%;
    top: 50%;
    position: relative;
    transform: translateY(-50%);

	@include respond(phone){
		left: 50%;
		transform: translate(-50%,-50%);
		top: 50%;
	}
}
.header-logo-img{
	width: 50%;
	margin: 0 20%;
	position: relative;
	display: block;
	
	@include respond(big-desktop){
		margin: 0 10%;
		width: 60%;
	}
}
