.navbar{
	background-color: darkgreen;
	& > *{
		color: white;
	}
}
.navbar-toggler-icon i {
	font-size: 3.5rem;
}
.navbar-collapse{
	padding: 8px;
}
.nav-link{
	color: white;
}
.nav-link:hover{
	background-color: rgba(104, 110, 105, 0.4);
	color: rgba(0, 255, 42, 0.76);
}