.card{
	max-width: 1024px;
	position: relative;
	height: 50rem;
	margin: 1rem auto;
	background: white;
	box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.3);
	&-title{
		font-weight: 400;
		text-align: center;
		margin: 1rem auto;
		width: 100%;
	}
}