.u-center-text{text-align:center !important;}
.u-center-text-2{
	width: 100%;
	text-align: center;
}
.u-translate-25{
	transform: translateY(25%);
}
.u-margin-bottom-big{margin-bottom:8rem !important;
	@include respond(tab-port){
		margin-bottom: 5rem !important;;
	}
}
.u-center-vertical{
	position: relative;
	top:50%;
	transform: translateY(-50%);
}
.u-center-relative{
	position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.u-margin-bottom-medium{margin-bottom:4rem!important;
	@include respond(tab-port){
		margin-bottom: 3rem !important;;
	}
}
.u-margin-bottom-small{margin-bottom:2rem!important;}
.u-margin-left-small{margin-left: 2rem!important;}
.u-margin-top-medium{margin-top:4rem!important;}
.u-padding-top-medium{
	padding-top:4rem !important;
}
.u-margin-top-small{margin-top: 2rem!important;}
.u-titulo-branco{color: white;}
.u-texto-branco{color: white;}
