.ul{
    position: relative;
    left: 4rem;
}
.card.comissao .card-title{
    color: transparent;
    background-image: linear-gradient(to right,$color-primary-light,$color-primary-dark);
	-webkit-background-clip:text;
}
