.erro{
	font-size: 1.5rem;
	color: yellow;
}
.navbar-fixed-top{
  position: fixed;
  z-index: 100;
  width: 100%;
  box-shadow: 0 0 0.25rem;
  top: 0%;
}
.home.jumbotron{
	min-height: 70vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	// background-image:  linear-gradient(to right bottom,
	// rgba($color-primary-light,0.5),
	// rgba($color-primary-dark,0.5)),
	@include respond(tab-land){
		min-height: 60vh;
	}
	@include respond(tab-port){
		min-height: 40vh;
	}
}
#carrosselInicio{
	height: 70vh;
	div img{
		max-height: 70vh;
	}
}
div[class^="conteudoImagem"]{
	height: 90vh;
	padding: 1.5rem;
	background-size: cover;
}
.conteudoImagem1{
	background: url('../img/BANNER-WEBPRINCIPAL.jpg') center center no-repeat;
}
.conteudoImagem2{
	background:linear-gradient(to bottom,rgba(41,176,0,0.6) 0%,rgba(0,0,0,0) 100%)
	,url('https://upload.wikimedia.org/wikipedia/commons/a/ae/Ponte-Rio-Negro-Manaus.jpg') center center no-repeat;
}
.conteudoImagem3{
	background: linear-gradient(to bottom,rgba(41,176,0,0.6) 0%,rgba(0,0,0,0) 100%)
	,url('https://upload.wikimedia.org/wikipedia/commons/a/ae/Ponte-Rio-Negro-Manaus.jpg') center center no-repeat;
}
.section-services{
	text-align: center !important;
}
.section-local{
	min-height: 70vh;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-image:  linear-gradient(to right bottom,
	rgba(#000,0.5),
	rgba(#1f1f1f,0.5)),
	url(../img/fundo_manaus-min.jpg);
	.video-wrapper{
		display: inline-block;
		position: relative;
		left: 50%;
		box-shadow: 0px 15px 30px rgba(0,0,0,0.4);
		transform: translate(-50%,0);
		.video{
			@include respond(phone){
				height: 100%;
				width: 100%;
			}
		}
	}
	@include respond(phone){
		min-height: 50vh;
	}
	@include respond(tab-land){

	}
}
.section-inscricao{
	padding: 4rem 0;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-image: linear-gradient(to right, 
	rgba(8, 95, 25,0.5) 0%, rgba(10, 168, 63,0.5) 100%),url(../img/fundo2.jpg);
}
.section-about{
	background-color: $color-grey-light-1;
	padding: 25rem 0rem;
	margin-top: -20vh;
	@include respond(tab-port){
		padding: 20rem 0rem;
	}
}
.section-inscricao{
	& > *{
		color: white;
	}
}
.section-features{
	// background-image: linear-gradient(to right bottom,
	// 	rgba($color-primary-light,0.5),
	// 	rgba(darkgreen,0.5)),
	//     url(../img/nat-4.jpg);
	padding: 20rem 0rem;
	background-size:cover;
	margin-top:-10rem;
	transform:skewY(-7deg);
	//Select all direct childs from from father
	&>*{
		transform:skewY(7deg);
	}
	@include respond(tab-port){
		padding: 12rem 0rem;
	}
}
.list-unstyled {
	color: white;
}
.link-for-js{
	cursor: pointer;color: #007bff !important;
}
.link-for-js:hover{
	color: #0056b3 !important;
	text-decoration: underline !important;
}