#passo1{
    transition: all .1s ease-out;
}
#passo2{display: none;transition: all .1s ease-out;}
#passo3{display: none;transition: all .1s ease-out;}
#passo4{display: none;transition: all .1s ease-out;}
#conclusao{display: none;transition: all .1s ease-out;}
#tabelaMinicursos{display: none;transition: all .1s ease-out;}
#pagamentoPagSeguro{
    display: none; text-align: center;
    margin: 3rem;
}
.table{
    @include respond(tab-port){     
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
}