#jumbo-premiacao> *{
    color: white !important;
}
#jumbo-premiacao{
    width: 100%;
}
#jumbo-premiacao{
    background-color: #1188f7e1;
}
.categoria{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.premiacao{
    @include respond(tab-port){
        margin: 1rem;
    }
}
.orientacao{
    @include respond(tab-port){
        margin: 1rem;
    }
}
.titulo-categoria{
    width: 100%;
    border-radius: .3rem;
    display: block;
    color: white;
}